<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Desarrollo</title>
  <link rel="stylesheet" href="./frontend.css">
  <script type="module" src="./frontend.js" defer></script>
  <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="frontend.css">
  <link rel="shortcut icon" href="../images/logos/favirosa.svg" type="image/x-icon">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="nav-item logo">
        <a href="/"><img class="logo" src="../images/logos/logoBlanco.svg" alt="Logo Samudio Creations"> </a>
      </div>
      <div class="toggle-btn nav-item">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-item list-container">
        <ul class="link-list">
          <li class="list-item"><a href="../fotografia/foto.html">Fotografía </a></li>
          <li class="list-item"><a href="../design/desing.html">Diseño </a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="intro">
    <p class="par">
      Explorando nuevas fronteras como desarrolladora frontend, te presento algunos de los trabajos que
      he realizado con entusiasmo y dedicación y que prometo seguir mejorando y superándome en cada proyecto que
      realice. (El primero y más destacado es este propio portfolio que he construido desde cero).
    </p>
    </ar>
    <div class="padre">
      <section class="section">
        <div class="articulos">
          <article class="article">
            <a href="https://chillax.today/"><img src="../images/fotografias/chillax.webp" alt="fondo">
              <h2>Chillax</h2>
            </a>
            <p>Divertida plataforma que te recomienda las películas y series más populares del momento, para no pasarte
              horas buscando.</p>
          </article>
          <article class="article">
            <a href="https://patrisamudio.github.io/calculator/"><img src="../images/fotografias/calculadora.webp"
                alt="fondo">
              <h2>Calculadora</h2>
            </a>
            <p>Calculadora estilo Barbie, la manera más cute de hacer tus cálculos y no tengas que estar perdiendo la
              cabeza.</p>
          </article>
          <article class="article">
            <a href="https://patrisamudio.github.io/dado/"><img src="../images/fotografias/dado.webp" alt="fondo">
              <h2>Juega al dado</h2>
            </a>
            <p>¡Los juegos de azar nunca han sido tan divertidos! Si estas con amigos en casa y necesitas lanzar un
              dado, no dudes en usar este. !Buena suerte!</p>
          </article>
        </div>
      </section>

      <footer class="footer">
        <div class="social">
          <a class="redes" href="../aboutme/aboutme.html"><img src="../images/logos/cv.png"
              alt="descarga mi curriculum"></a>
          <a class="redes" href="https://www.linkedin.com/in/patriciasamudiocabrera/" target="_blank"><img
              src="../images/logos/linkedn.png" alt="Enlace al linkedin"></a>
          <a class="redes" href="https://github.com/PatriSamudio" target="_blank"> <img src="../images/logos/GitHub.png"
              alt="Enlace al github"></a>
          <a class="redes" href="https://wa.me/34611499620" target="_blank"><img src="../images/logos/wapp.png"
              alt="Chat on WhatsApp"></a>
        </div>
        <nav class="copy">
          <p><strong> Desarrollado con 💜 por Samudio Creations</strong>
            <br>©2023 Todos los derechos reservados | Alicante - España.
          </p>
        </nav>
      </footer>
</body>

</html>