<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>FrontEnd</title>
  <link rel="stylesheet" href="./frontend.css">
  <link rel="shortcut icon" href="components/images/logoNegro.svg" type="image/x-icon">
  <script type="module" src="./index.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
</head>

<body>
  <div class="padre">
    <header class="header">
      <div class="container">

      </div>
      <!-- <div class="menu margen-interno">
        <div class="logo">
          <a href="index.html"><img src="components/images/logoColor.svg" alt=""> </a>
        </div>
        <nav class="nav">
          <a href="#">Trabajos</a>
          <a href="#">Sobre mi</a>
          <a href="#">Contacto</a>
          <a href="#">CV PDF</a>
        </nav>
      </div> -->
      <div class="text-principal">
        <div class="samu">Samu</div>
        <div class="dio">dio</div>
        <div class="c">Creations</div>
        <!-- <h1>El apellido Samudio tiene su origen en el País Vasco, una región que abarca el norte de España y el suroeste
          de Francia. El término "Samudio" deriva de la palabra vasca "samu", que significa "mano", y el sufijo "-dio",
          que significa "pueblo". Por lo tanto, el apellido Samudio se refiere a alguien que proviene de un pueblo donde
          se trabajaba con las manos. A lo largo del tiempo, este apellido se ha extendido a otras partes de España y
          América Latina.</h1> -->
      </div>
    </header>
    <section class="section">
      <div class="articulos">
        <article class="article">
          <img src="/components/images/logoColor.svg" alt="fondo">
          <h3>02 de mayo de 2023</h3>
          <h2>Titulo de la noticia</h2>
          <p>Por lo tanto, el apellido Samudio se refiere a alguien que proviene de un pueblo donde
            se trabajaba con las manos. A lo largo del tiempo, este apellido se ha extendido a otras partes de España y
            América Latina</p>
          <a href="#">Leer más...</a>
        </article>
        <article class="article">
          <img src="/components/images/logoNegro.svg" alt="fondo">
          <h3>02 de mayo de 2023</h3>
          <h2>Titulo de la noticia</h2>
          <p>Por lo tanto, el apellido Samudio se refiere a alguien que proviene de un pueblo donde
            se trabajaba con las manos. A lo largo del tiempo, este apellido se ha extendido a otras partes de España y
            América Latina</p>
          <a href="#">Leer más...</a>
        </article>
        <article class="article">
          <img src="/components/images/logoNegro.svg" alt="fondo">
          <h3>02 de mayo de 2023</h3>
          <h2>Titulo de la noticia</h2>
          <p>Por lo tanto, el apellido Samudio se refiere a alguien que proviene de un pueblo donde
            se trabajaba con las manos. A lo largo del tiempo, este apellido se ha extendido a otras partes de España y
            América Latina</p>
          <a href="#">Leer más...</a>
        </article>
      </div>
    </section>
    <footer class="footer">
      <nav class="pie">
        <p>Desarrollado por Samudio Designs</p>
        <div class="social">
          <a href="#">Facebook</a>
          <a href="#">Linkedin</a>
          <a href="#">Email</a>
        </div>
      </nav>
    </footer>
  </div>
</body>

</html>