<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Desarrollo</title>
  <link rel="stylesheet" href="./frontend.css">
  <script type="module" src="./frontend.js"></script>
  <link rel="shortcut icon" href="../images/logos/favirosa.png" type="image/x-icon">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="nav-item logo">
        <a href="/"><img class="logo" src="../images/logos/logoBlanco.png" alt="Logo Samudio Creations"> </a>
      </div>
      <div class="toggle-btn nav-item">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-item list-container">
        <ul class="link-list">
          <li class="list-item"><a href="/src/components/frontend.html">Fotografía </a></li>
          <li class="list-item"><a href="/src/components/desing.html">Diseño </a></li>
          <li class="list-item"><a href="/src/components/aboutme.html">CV PDF</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="padre">
    <section class="section">
      <div class="articulos">
        <article class="article">
          <img src="../images/diseño/bravebook.jpg" alt="fondo">
          <h3>02 de mayo de 2023</h3>
          <h2>Titulo de la noticia</h2>
          <p>Por lo tanto, el apellido Samudio se refiere a alguien que proviene de un pueblo donde
            se trabajaba con las manos. A lo largo del tiempo, este apellido se ha extendido a otras partes de España y
            América Latina</p>
          <a href="#">Leer más...</a>
        </article>
        <article class="article">
          <img src="../images/diseño/pattypic.jpg" alt="fondo">
          <h3>02 de mayo de 2023</h3>
          <h2>Titulo de la noticia</h2>
          <p>Por lo tanto, el apellido Samudio se refiere a alguien que proviene de un pueblo donde
            se trabajaba con las manos. A lo largo del tiempo, este apellido se ha extendido a otras partes de España y
            América Latina</p>
          <a href="#">Leer más...</a>
        </article>
        <article class="article">
          <img src="../images/diseño/siete.jpg" alt="fondo">
          <h3>02 de mayo de 2023</h3>
          <h2>Titulo de la noticia</h2>
          <p>Por lo tanto, el apellido Samudio se refiere a alguien que proviene de un pueblo donde
            se trabajaba con las manos. A lo largo del tiempo, este apellido se ha extendido a otras partes de España y
            América Latina</p>
          <a href="#">Leer más...</a>
        </article>
      </div>
    </section>

    <footer class="footer">
      <div class="social">
        <a class="redes" href="https://www.linkedin.com/in/patriciasamudiocabrera/" target="_blank"><img
            src="../images/logos/linkedn.png" alt="Enlace al linkedin"></a>
        <a class="redes" href="https://github.com/PatriSamudio" target="_blank"> <img src="../images/logos/GitHub.png"
            alt="Enlace al github"></a>
        <a class="redes" href="https://wa.me/34611499620" target="_blank"><img src="../images/logos/wapp.png"
            alt="Chat on WhatsApp"></a>
      </div>
      <nav class="copy">
        <h5>Desarrollado con 💜 por Samudio Creations</h5>
        <p>©2023 Todos los derechos reservados | Alicante - España.</p>
      </nav>
    </footer>
  </div>
</body>

</html>