*{
  margin: 0;
  padding: 0;
 }

 body{
    background-color: #f8a0a5;
    font-family: Arial, Helvetica, sans-serif; 
    overflow-x: hidden;
  }

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.link-list{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-right: 25px;
}

.list-item{
  padding: 20px;
}

a{
  text-decoration: none;
  color: white;
}

  a:hover{
    text-shadow: 1px 2px 2px #9e474b;
  }

.logo{
  width: 80px;
  height: auto;
  margin: 25px;
}

  .logo:hover{
    transform: scale(1.2);
    transition: all 0.5s ease;
  }

.toggle-btn {
  width: 2rem;
  height: 2rem;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
  margin-right: 25px;
}

  .toggle-btn>span {
    width: 100%;
    height: 2px;
    background: white;
  }   

  .par{
    color: white;
    font-size: 24px;
    line-height: 1.6; 
    margin: 2em 4em 0; 
    padding: 2em;
    text-align: center; 
    text-shadow: 1px 1px 2px #9e474b;   
    font-weight: bolder;
  }
  
    .intro{
      display: block;

      /* margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0; */
    }
  
  section{
      background-color: #f8a0a5;
      display: flex; 
    }

    .articulos{
      flex: 2 1 auto;
      display: flex;
      flex-flow: row nowrap;
      margin: 10px 30px 40px;
    }
  
      article{
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        letter-spacing: 1px;
        margin: 20px 30px 0 0;
        flex: 1 1 45%;
        background: #f89297;
        border: none;
        border-radius: 20px;
      }

        .article:hover{
          transform: scale(1.1);
          transition: ease 0.5s;
        }

        .article img{
          width: 100%;
          transition: all 500ms ease-out;
          opacity: 1;
          cursor: pointer;
        }        
  
        h2 {
        color: white;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin: 10px 10px 4px;
        padding: 0 0 10px;
        border-bottom: 5px solid white;
        text-shadow: 1px 1px 2px #a55a5a;   
        cursor: pointer;
        }

        .article p{
          text-align: center ;
          font-size: 14px;
          margin: 30px;
          padding: 0;
          color: white;
          text-shadow: 1px 1px 2px #a55a5a; 
          letter-spacing: 1px;  

        }
        
    .footer{
      background-color: #61c3c3;
      display: flex;
      justify-content:center ;
      flex-direction: column;
      width: auto;
      height: 100%;  
      padding: 15px;   
      margin-top: 50px;
    }
  
      .social{
        display: flex;
        justify-content: center;        
      }
  
        .redes{
          display: flex;
          justify-content: space-around;
          width: 50px;
          height: 50px;
          margin: 8px 10px 5px;
        }
  
        .redes:hover{
          width: 50px;
          height: 50px;
          border: none;
          border-radius: 50%;
          box-shadow: 1px 1px 2px #3c858b;
        }
  
      .copy{
        text-align: center;      
        color: white;
        text-shadow: 1px 1px 2px #3c858b;   
        letter-spacing: 2px;
      }
  
      .copy p{
        font-size: 12px;
        margin: 2px;
        line-height: 1.4;
      } 
  
  @media all and (max-width:700px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .list-container {
      width: 100%;
      display: none;
      align-items: center;
      justify-content: space-evenly;
  }

  .flex {
    display: flex;

 }

  .link-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .list-item {
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 4px;
      border-bottom: 1px solid white;
  }

  .toggle-btn {
      display: flex;
  }
  }
  
  @media all and (max-width:450px) {
    .logo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
    }

    .par{
      color: white;
      font-size: 16px;
      line-height: 1.6; 
      margin: 10px; 
      padding: 10px ;
      text-shadow: 1px 1px 2px #a55a5a;  
    }

    .articulos{
      flex-direction: column;
    }

    .footer{
    height: 80px;
    font-size: smaller;
    }

    .redes{
      display: flex;
      justify-content: center;
      width: 26px;
      height: 26px; 
    }
  }