<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fotografía</title>
  <link rel="stylesheet" href="./foto.css">
  <script type="module" src="./foto.js" defer></script>
  <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="foto.css">
  <link rel="shortcut icon" href="../images/logos/favirosa.svg" type="image/x-icon">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="nav-item logo">
        <a href="/"><img class="logo" src="../images/logos/logoBlanco.svg" alt="Logo Samudio Creations"> </a>
      </div>
      <div class="toggle-btn nav-item">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-item list-container">
        <ul class="link-list">
          <li class="list-item"><a href="../frontend/frontend.html">Desarrollo </a></li>
          <li class="list-item"><a href="../design/desing.html">Diseño </a></li>
        </ul>
      </div>
    </nav>
  </header>
  <article>
    <p class="par">
      Soy amante de los paisajes y las expresiones llenas de felicidad, eso es lo que me inspiró a ser fotógrafa
      freelance en bodas y eventos. ¡Descubre algunas de mis favoritas!
    </p>
  </article>
  <section class="section">
    <img src="../images/fotografias/canoas.webp" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/ave.webp" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/faro.webp" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/mar.webp" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/surfista.webp" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/efecto-maqueta-6.webp" alt="fotografias realizadas por Samudio Creations"
      class="foto">
    <img src="../images/fotografias/embarazo.webp" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/foto.webp" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/nala.webp" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/lupe.webp" alt="fotografias realizadas por Samudio Creations" class="foto">
  </section>
  <footer class="footer">
    <div class="social">
      <a class="redes" href="../aboutme/aboutme.html"><img src="../images/logos/cv.png"
          alt="descarga mi curriculum"></a>
      <a class="redes" href="https://www.linkedin.com/in/patriciasamudiocabrera/" target="_blank"><img
          src="../images/logos/linkedn.png" alt="Enlace al linkedin"></a>
      <a class="redes" href="https://github.com/PatriSamudio" target="_blank"> <img src="../images/logos/GitHub.png"
          alt="Enlace al github"></a>
      <a class="redes" href="https://wa.me/34611499620" target="_blank"><img src="../images/logos/wapp.png"
          alt="Chat on WhatsApp"></a>
    </div>
    <nav class="copy">
      <p><strong> Desarrollado con 💜 por Samudio Creations</strong>
        <br>©2023 Todos los derechos reservados | Alicante - España.
      </p>
    </nav>
  </footer>
  </div>
</body>

</html>