<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Fotografía</title>
  <link rel="stylesheet" href="./foto.css">
  <script type="module" src="./foto.js"></script>
  <link rel="shortcut icon" href="../images/logos/favirosa.svg" type="image/x-icon">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="nav-item logo">
        <a href="/"><img class="logo" src="../images/logos/logoBlanco.svg" alt="Logo Samudio Creations"> </a>
      </div>
      <div class="toggle-btn nav-item">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-item list-container">
        <ul class="link-list">
          <li class="list-item"><a href="../frontend/frontend.html">Desarrollo </a></li>
          <li class="list-item"><a href="../design/desing.html">Diseño </a></li>
          <li class="list-item"><a href="../aboutme/aboutme.html">CV PDF </a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="section">
    <img src="../images/fotografias/atardecer.png" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/bici.png" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/flores.png" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/casas.png" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/cielo.png" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/faro.png" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/zeus.png" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/nala.png" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/camila.png" alt="fotografias realizadas por Samudio Creations" class="foto">
    <img src="../images/fotografias/lupe.png" alt="fotografias realizadas por Samudio Creations" class="foto">
  </section>
  <footer class="footer">
    <div class="social">
      <a class="redes" href="https://www.linkedin.com/in/patriciasamudiocabrera/" target="_blank"><img
          src="../images/logos/linkedn.png" alt="Enlace al linkedin"></a>
      <a class="redes" href="https://github.com/PatriSamudio" target="_blank"> <img src="../images/logos/GitHub.png"
          alt="Enlace al github"></a>
      <a class="redes" href="https://wa.me/34611499620" target="_blank"><img src="../images/logos/wapp.png"
          alt="Chat on WhatsApp"></a>
    </div>
    <nav class="copy">
      <h5>Desarrollado con 💜 por Samudio Creations</h5>
      <p>©2023 Todos los derechos reservados | Alicante - España.</p>
    </nav>
  </footer>
  </div>
</body>

</html>