<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Desing</title>
  <link rel="stylesheet" href="./desing.css">
  <link rel="shortcut icon" href="components/images/logoNegro.svg" type="image/x-icon">
  <script type="module" src="./desing.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="menu">
      <div class="navbar">
        <a href="/src/index.html"><img class="logo" src="../images/logoBlanco.svg" alt="Logo Samudio Creations"> </a>
      </div>
      <nav class="nav">
        <a href="#">Desarrollo</a>
        <a href="#">Sobre mi</a>
        <a href="#">CV PDF</a>
      </nav>
    </div>
  </header>
  <section class="container">
    <div class="carrusel">
      <div class="grande">
        <img src="../images/diseño/pattypic.jpg" alt="img" class="img1">
        <img src="../images/diseño/bravebook.jpg" alt="img" class="img1">
        <img src="../images/diseño/reset.jpg" alt="img" class="img1">
        <img src="../images/diseño/tarjetas.jpg" alt="img" class="img1">
        <img src="../images/diseño/Don ro.jpg" alt="img" class="img1">

      </div>
      <div class="box">
        <ul class="puntos">
          <li class="punto activo"></li>
          <li class="punto"></li>
          <li class="punto"></li>
          <li class="punto"></li>
          <li class="punto"></li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="footer">
    <nav class="pie">
      <p>Desarrollado por Samudio Designs</p>
      <div class="social">
        <a href="#">Facebook</a>
        <a href="#">Linkedin</a>
        <a href="#">Email</a>
      </div>
    </nav>
  </footer>
  </div>
</body>

</html>