<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Diseño</title>
  <link rel="stylesheet" href="./desing.css">
  <link rel="shortcut icon" href="../images/logos/favirosa.png" type="image/x-icon">
  <script type="module" src="./desing.js"></script>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="nav-item logo">
        <a href="/"><img class="logo" src="../images/logos/logoBlanco.png" alt="Logo Samudio Creations"> </a>
      </div>
      <div class="toggle-btn nav-item">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-item list-container">
        <ul class="link-list">
          <li class="list-item"><a href="../frontend/frontend.html">Desarrollo </a></li>
          <li class="list-item"><a href="../fotografia/foto.html">Fotografía </a></li>
          <li class="list-item"><a href="../aboutme/aboutme.html">CV PDF </a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section class="container">
    <div class="carrusel">
      <div class="grande">
        <img src="../images/diseño/pattypic.jpg" alt="img" class="img1">
        <img src="../images/diseño/Bravebooks-.jpg" alt="img" class="img1">
        <img src="../images/diseño/tarjetas.jpg" alt="img" class="img1">
        <img src="../images/diseño/siete.jpg" alt="img" class="img1">
        <img src="../images/diseño/Don ro.jpg" alt="img" class="img1">

      </div>
      <div class="box">
        <ul class="puntos">
          <li class="punto activo"></li>
          <li class="punto"></li>
          <li class="punto"></li>
          <li class="punto"></li>
          <li class="punto"></li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="social">
      <a class="redes" href="https://www.linkedin.com/in/patriciasamudiocabrera/" target="_blank"><img
          src="../images/logos/linkedn.png" alt="Enlace al linkedin"></a>
      <a class="redes" href="https://github.com/PatriSamudio" target="_blank"> <img src="../images/logos/GitHub.png"
          alt="Enlace al github"></a>
      <a class="redes" href="https://wa.me/34611499620" target="_blank"><img src="../images/logos/wapp.png"
          alt="Chat on WhatsApp"></a>
    </div>
    <nav class="copy">
      <h5>Desarrollado con 💜 por Samudio Creations</h5>
      <p>©2023 Todos los derechos reservados | Alicante - España.</p>
    </nav>
  </footer>
  </div>
</body>

</html>