<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Diseño</title>
  <link rel="stylesheet" href="./desing.css">
  <link rel="shortcut icon" href="../images/logos/favirosa.svg" type="image/x-icon">
  <script type="module" src="./desing.js"></script>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="nav-item logo">
        <a href="/"><img class="logo" src="../images/logos/logoBlanco.svg" alt="Logo Samudio Creations"> </a>
      </div>
      <div class="toggle-btn nav-item">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-item list-container">
        <ul class="link-list">
          <li class="list-item"><a href="../frontend/frontend.html">Desarrollo </a></li>
          <li class="list-item"><a href="../fotografia/foto.html">Fotografía </a></li>
        </ul>
      </div>
    </nav>
  </header>
  <article>
    <p>
      He tenido la oportunidad de sumergirme en el apasionante mundo del diseño de identidad corporativa. He creado
      logotipos, tarjetas de visita y menús irresistibles para restaurantes. ¡Echa un vistazo a algunos de mis trabajos!
    </p>
  </article>
  <section class="container">
    <div class="carrusel">
      <div class="grande">
        <figure>
          <img src="../images/diseño/Bravebooks-.jpg" alt="img" class="img1">
          <figcaption>
            <h3>Identidad Corporativa para una editorial.</h3>
          </figcaption>
        </figure>
        <figure>
          <img src="../images/diseño/pattypic.jpg" alt="img" class="img1">
          <figcaption>
            <h3>Tarjeta de contacto para una fotografa</h3>
          </figcaption>
        </figure>
        <figure>
          <img src="../images/diseño/tarjetas.jpg" alt="img" class="img1">
          <figcaption>
            <h3>Tarjetas de visitas</h3>
          </figcaption>
        </figure>
        <figure>
          <img src="../images/diseño/siete.jpg" alt="img" class="img1">
          <figcaption>
            <h3>Carta de menu para una hamburguesería</h3>
          </figcaption>
        </figure>
        <figure>
          <img src="../images/diseño/Donro.jpg" alt="img" class="img1">
          <figcaption>
            <h3>Carta de menu para un Restaurante Asador</h3>
          </figcaption>
        </figure>
      </div>
      <div class="box">
        <ul class="puntos">
          <li class="punto activo"></li>
          <li class="punto"></li>
          <li class="punto"></li>
          <li class="punto"></li>
          <li class="punto"></li>
        </ul>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="social">
      <a class="redes" href="../aboutme/aboutme.html"><img src="../images/logos/cv.png"
          alt="descarga mi curriculum"></a>
      <a class="redes" href="https://www.linkedin.com/in/patriciasamudiocabrera/" target="_blank"><img
          src="../images/logos/linkedn.png" alt="Enlace al linkedin"></a>
      <a class="redes" href="https://github.com/PatriSamudio" target="_blank"> <img src="../images/logos/GitHub.png"
          alt="Enlace al github"></a>
      <a class="redes" href="https://wa.me/34611499620" target="_blank"><img src="../images/logos/wapp.png"
          alt="Chat on WhatsApp"></a>
    </div>
    <nav class="copy">
      <p><strong> Desarrollado con 💜 por Samudio Creations</strong>
        <br>©2023 Todos los derechos reservados | Alicante - España.
      </p>
    </nav>
  </footer>
  </div>
</body>

</html>