*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f8a0a5;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  background-color: #f8a0a5;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  }

    .samu{
    margin-top:120px;
    color:#fbe4e4;    
    font-size: 150px;
    font-weight: bold;
    display: flex;
    justify-self: right;
    text-transform: uppercase;
    }

    .dio{
    color:#fbe4e4;
    font-size: 150px;
    font-weight: bold;
    display:flex;
    justify-self: left;
    text-transform: uppercase;
    }

    .c{
    margin-top: 0;
    margin-bottom: 50px;
    color:#fbe4e4;
    font-size: 50px;
    justify-self: left;
    display:flex;
    } 

    .par{
      color: #fbe4e4;
      font-size: 24px;
      line-height: 1.6; 
      margin:3em; 
      padding: 3em;
      text-align: center; 
      text-shadow: 1px 1px 2px #c56262;      
    }
    
      .section {
        display: block;
        margin-block-start: 2em;
        margin-block-end: 2em;
        margin-inline-start: 0;
        margin-inline-end: 0;
        margin-bottom: 100px;
        clip-path: circle();
      }

section{
    background-color: #f8a0a5;
    display: flex;    
    flex: 3 1 auto;     
    margin: 10px 50px;    
  }

    .article{
      flex: 1 1 20%;
      border: none;
      border-radius: 20px;
      margin-right: 20px;
      margin-left: 20px;
      margin-bottom: 50px;
      position: relative;
      overflow: hidden;
    }

      .article img{
        width: 100% ;
        height: 550px;
        border: none;
        border-radius: 20px;
        transition: all 500ms ease-out;
        opacity: 1;
      }

      .article .front {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: rgb(137 194 194 / 70%);
      transition: all 500ms ease-out;
      opacity: 0;
      visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      }

      .article h2 {
      transform: translateX(-200px);      
      opacity: 0;
      transition: all 0.7s ease-in-out;
      color: #fbe4e4;
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      margin: 10px;
      padding: 20px;
      border: 5px solid #fbe4e4;
      box-shadow: 2px 2px 2px gray;
      text-shadow: 2px 2px 2px gray;
      }

  .article a.link{
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(100px)
  }

  .article:hover .front {
    opacity: 1;
    visibility: visible;
  }

  .article:hover >img{
    transform: scale(1.2);
  }

  .article:hover h2,
  .article:hover a.link {
    opacity: 1;
    transform: translateX(0);
  }

  .article:hover a.link {
    transition-delay: 0.2s; 
    transform: translateY(0);
  }
      
  .footer{
    background-color: #89c2c2;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    width: auto;
    height: 100px;  
    padding: 15px;   
  }

    .social{
      display: flex;
      justify-content: center;
    }

      .redes{
        display: flex;
        justify-content: space-around;
        width: 50px;
        height: 50px;
        margin-top: 10px;
      }

      .redes:hover{
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        box-shadow: 1px 1px 2px #3c858b;
      }

      .copy{
        text-align: center;      
        color: #f7f7f7;
        letter-spacing: 2px;
      }
  
      .copy p{
        font-size: 12px;
        margin: 2px;
        line-height: 1.4;
      }

a{
  text-decoration: none;
} 

@media all and (max-width:700px) {
  .articulos{
    flex-direction: column;
  }
}

@media all and (max-width:450px) {
  .aside{
    flex-direction: column;
    justify-content: center;
    height: 120px;
  }

  .samu{
    font-size: 110px;
    margin-top: 200px;
  }

  .dio{
    font-size: 110px;
  }

  .c{
    justify-content: center;
    margin-bottom: 150px;
    font-weight: bold;    
  }

  .header{
    width: auto;
  }

  .par{
    color: #fbe4e4;
    font-size: 14px;
    line-height: 1.6; 
    margin: 10px; 
    padding: 10px ;
    text-shadow: 1px 1px 2px #c56262;  
  }

  .section{
    display: block;
    margin-bottom: 50px;
  }

  .works{
    display: flex;
    flex-direction: column;
    width: 380px;
    margin: 10px;
  }


  .footer{
  height: 80px;
  font-size: smaller;
  }

  .redes{
    display: flex;
    justify-content: center;
    width: 26px;
    height: 26px;
  }
}

/* //fuxia oscuro d54474
//fucsia claro dc658d
//rosa ffa7c4
//gris claro 363c48
//gris medio 282c35
//gris oscuro 282c35 - 4e4e4e
//gris ultrclaro f9fafb
//negro 222222 */