<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,
  maximum-scale=1.0, minimum-scale=1.0">
  <title>Curriculum PDF</title>
  <link rel="stylesheet" href="./aboutme.css">
  <script type="module" src="./aboutme.js"></script>
  <link rel="shortcut icon" href="../images/logos/favirosa.svg" type="image/x-icon">
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="nav-item logo">
        <a href="/"><img class="logo" src="../images/logos/logoBlanco.svg" alt="Logo Samudio Creations"> </a>
      </div>
      <div class="toggle-btn nav-item">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav-item list-container">
        <ul class="link-list">
          <li class="list-item"><a href="../fotografia/foto.html">Fotografía </a></li>
          <li class="list-item"><a href="../frontend/frontend.html">Desarrollo</a></li>
          <li class="list-item"><a href="../design/desing.html">Diseño </a></li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="pdf">
    <embed src="../aboutme/curriculum.pdf" type="application/pdf" width="100%" height="570px" />
  </div>
  <footer class="footer">
    <div class="social">
      <a class="redes" href="https://www.linkedin.com/in/patriciasamudiocabrera/" target="_blank"><img
          src="../images/logos/linkedn.png" alt="Enlace al linkedin"></a>
      <a class="redes" href="https://github.com/PatriSamudio" target="_blank"> <img src="../images/logos/GitHub.png"
          alt="Enlace al github"></a>
      <a class="redes" href="https://wa.me/34611499620" target="_blank"><img src="../images/logos/wapp.png"
          alt="Chat on WhatsApp"></a>
    </div>
    <nav class="copy">
      <p><strong> Desarrollado con 💜 por Samudio Creations</strong>
        <br>©2023 Todos los derechos reservados | Alicante - España.
      </p>
    </nav>
  </footer>
</body>

</html>